<!-- somewhere in your document include the Javascript -->
<script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>
<!-- configure the Intuit object: 'grantUrl' is a URL in your application which kicks off the flow, see below -->
<script type="text/javascript">
  intuit.ipp.anywhere.setup( { grantUrl: 'http://appcenter.intuit.com/Playground/OAuth/BeginIAFlow', datasources: { quickbooks : true , payments : false } });
</script>
<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
    data-toggle="menubar">
      <span class="sr-only">Toggle navigation</span>
      <span class="hamburger-bar"></span>
    </button>
    <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
    data-toggle="collapse">
      <i class="icon wb-more-horizontal" aria-hidden="true"></i>
    </button>
    <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
      <!-- <img class="navbar-brand-logo" src="./assets/images/logo.png" title="Kindline"> -->
      <span class="navbar-brand-text"> 
        <%= image_tag("Logo.png" , alt:"Kindline" , class: "navbar-brand-logo")%>
      </span>
    </div>
    <!-- <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-search"
    data-toggle="collapse">
      <span class="sr-only">Toggle Search</span>
      <i class="icon wb-search" aria-hidden="true"></i>
    </button> -->
  </div>
  <div class="navbar-container container-fluid">
    <!-- Navbar Collapse -->
    <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
      <!-- Navbar Toolbar -->
      <ul class="nav navbar-toolbar">
        <li class="hidden-float" id="toggleMenubar">
          <a data-toggle="menubar" href="#" role="button">
            <i class="icon hamburger hamburger-arrow-left">
                <span class="sr-only">Toggle menubar</span>
                <span class="hamburger-bar"></span>
              </i>
          </a>
        </li>
        
      </ul>
      <!-- End Navbar Toolbar -->
      <!-- Navbar Toolbar Right -->
      <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
        <li class="dropdown">
          <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"
          data-animation="scale-up" role="button">
            Logged in as <strong><%= current_user.email %></strong>
          </a>
        </li>
        <li class="dropdown">
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "navbar-avatar dropdown-toggle") %>
        </li>
        <li class="navbar-avatar">
          <!-- this will display a button that the user clicks to start the flow -->
          <ipp:connectToIntuit></ipp:connectToIntuit>
        </li>
      </ul>
      <!-- End Navbar Toolbar Right -->
    </div>
    <!-- End Navbar Collapse -->
    <!-- Site Navbar Seach -->
    <!-- <div class="collapse navbar-search-overlap" id="site-navbar-search">
      <form role="search">
        <div class="form-group">
          <div class="input-search">
            <i class="input-search-icon wb-search" aria-hidden="true"></i>
            <input type="text" class="form-control" name="site-search" placeholder="Search...">
            <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
            data-toggle="collapse" aria-label="Close"></button>
          </div>
        </div>
      </form>
    </div> -->
    <!-- End Site Navbar Seach -->
  </div>
</nav>
<style type="text/css" media="screen">
  .navbar-container.container-fluid{
    background: url('/assets/Background.png') 0% 0% no-repeat;
    background-attachment:fixed; 
    background-size:cover;
  }
  .navbar-brand-logo{
    height:80px; 
    margin:-29px 0 0 40px; 
    background-size:cover;
  }
  .navbar-header{
    background:#0f81e8 !important;
  }
  .navbar-default .navbar-toolbar>li>a{color:#282131;}
</style>