<div class="site-menubar">
  <div class="site-menubar-body">
    <div>
      <div>
        <ul class="site-menu">
          <li class="site-menu-category" style="color: #282131;">General</li>
          <!-- <li class="site-menu-item has-sub">
            <a href="/">
              <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
              <span class="site-menu-title">Dashboard</span>
            </a>
          </li> -->

          <li class="site-menu-item has-sub">
            <a href="/stores">
              <i class="site-menu-icon icon fa-home" aria-hidden="true"></i>
              <span class="site-menu-title">Stores</span>
            </a>
          </li>

          <li class="site-menu-item has-sub">
            <a href="/user">
              <i class="site-menu-icon icon fa-group" aria-hidden="true"></i>
              <span class="site-menu-title">Sales Staff</span>
            </a>
          </li>

          <li class="site-menu-item has-sub">
            <a href="/issues">
              <i class="site-menu-icon icon fa-gear" aria-hidden="true"></i>
              <span class="site-menu-title">Issues</span>
            </a>
          </li>

          <li class="site-menu-item has-sub">
            <a href="/user/report">
              <i class="site-menu-icon icon fa-clone" aria-hidden="true"></i>
              <span class="site-menu-title">Sales Report</span>
            </a>
          </li>

          <!-- <li class="site-menu-item has-sub">
            <a href="javascript:void(0)">
              <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
              <span class="site-menu-title">Layouts</span>
              <span class="site-menu-arrow"></span>
            </a>
            <ul class="site-menu-sub">
              <li class="site-menu-item">
                <a class="animsition-link" href="../layouts/menu-collapsed.html">
                  <span class="site-menu-title">Menu Collapsed</span>
                </a>
              </li>
              <li class="site-menu-item">
                <a class="animsition-link" href="../layouts/menu-collapsed-alt.html">
                  <span class="site-menu-title">Menu Collapsed Alt</span>
                </a>
              </li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </div>

</div>

<style type="text/css">
  .site-menu li a{
    color: #282131;
  } 
  .site-menubar{
    background: url('/assets/Background.png') 0% 0% no-repeat;
    background-attachment:fixed; 
    background-size:cover;
  }
</style>